@import "../../../styles/colors";
@import "../../../styles/font-sizes";
@import "../../../styles/offsets";

.description {
  font-size: $font-size-md;
  line-height: normal;
}

.red {
  color: $redff;
}

.green {
  color: $green25;
}
