@import "../styles/colors";
@import "../styles/font-sizes";

.button {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: $blue34;
  font-size: $font-size-md;
  text-align: center;
  color: $white;
  transition: all 0.2s linear;
  cursor: pointer;

  & > a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    opacity: 0.8;
  }
}


.success {
  background: $green25;
}

.error {
  background: $redff;
}
