@import '../../components/styles/offsets';
@import '../../components/styles/medias';
@import '../../components/styles/mixin';

.container {
  @include contentWidth;
  padding: $offset-size-xl 0;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $offset-size-md;
}

@media screen and (max-width: $mobile) {
  .buttons {
    grid-template-columns: repeat(1, 1fr);
  }
}
