@import "./normolize";
@import "./colors";
@import "./font";
@import "./font-sizes";

* {
  box-sizing: border-box;
  margin: 0;
}

:global {
  html,
  body,
  #root {
    height: 100vh;
  }
}


body {
  font-family: $font;
  font-size: $font-size-md;
  line-height: $font-size-md2;
  color: $black;
}
