.quiz{
  margin-top: 150px;
  &-title{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &-question{
    width: 200px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto 10px;
    font-size: 18px;
    background: #34667e;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: all .2s linear;
    &:hover{
      background: #418aa5;
    }
  }
  &-btn{
    &-right{
      background: #12b90b;
    }
    &-wrong{
      background: #c30000;
    }
  }
}