.quiz {
  margin-top: 150px; }
  .quiz-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px; }
  .quiz-question {
    display: block;
    width: 200px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto 10px;
    font-size: 18px;
    background: #34667e;
    border-radius: 35px;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: all .2s linear; }
    .quiz-question:hover {
      background: #418aa5; }
  .quiz-btn-right {
    background: #12b90b; }
  .quiz-btn-wrong {
    background: #c30000; }
